<article class="container py-3">
    <div class="row align-items-center">
        <div class="col-md-7">
            <h2 class="fw-bold mb-4 text-white"> <i class="bi bi-person"></i> Sobre Mí</h2>
            <p>
                Me llamo <span class="highlight">Carlos Esteban Castro Caicedo</span>, pero mis amigos más cercanos me llaman 
                <span class="highlight-alt">Carlitos</span>. Mi pasión por la programación comenzó hace <span class="highlight">cuatro años</span>, 
                cuando aún estaba en el colegio. <span class="highlight">Actualmente, estudio Ingeniería de Software en la 
                <span class="highlight-alt"><a href="https://usco.edu.co" target="_blank">Universidad Surcolombiana</a></span></span>, 
                una carrera que me llena de <span class="highlight">orgullo y entusiasmo</span>.
              </p>
              
              <p>
                Mi principal enfoque está en el <span class="highlight">desarrollo backend</span> y la creación de aplicaciones 
                <span class="highlight">escalables y eficientes</span>. Actualmente, <span class="highlight">me encuentro ampliando mis conocimientos</span> 
                para implementar <span class="highlight">arquitecturas basadas en microservicios</span> y profundizar en 
                <span class="highlight">patrones de diseño</span>, con el objetivo de elevar la calidad y mantenibilidad de mis proyectos.
              </p>
              
              <p>
                Aunque aún no tengo experiencia formal en el sector, <span class="highlight">he desarrollado múltiples proyectos personales</span> 
                que me han permitido adquirir un conocimiento sólido y aplicado. Me considero una persona <span class="highlight">autodidacta, 
                con una gran capacidad de aprendizaje y habilidad para trabajar en equipo</span>, cualidades que sin duda aportarían valor a cualquier equipo de trabajo.
              </p>
              

        </div>

        <div class="col-md-5 text-center">
            <img src="about-me-picture.webp" alt="Foto de Carlos Castro" class="img-fluid rounded">
        </div>
    </div>
</article>

<article class="contact-section py-5">
    <div class="container text-center">
        <h2 class="text-white mb-4">¿Interesado en trabajar juntos?</h2>
        <div class="d-flex justify-content-center gap-3">
            <a href="https://www.linkedin.com/in/carloscastro0911/" 
               target="_blank" 
               class="btn btn-outline-secondary-custom">
               <i class="bi bi-linkedin me-2"></i>LinkedIn
            </a>
            <a href="mailto:carlosestc0911@gmail.com" 
               target="_blank" 
               class="btn btn-outline-secondary-custom">
               <i class="bi bi-envelope me-2"></i>Correo
            </a>
        </div>
    </div>
</article>