<header>
  <nav class="navbar navbar-expand fixed-top" [ngClass]="{'scrolled': hasScrolled}">
    <div class="container">
      <ul class="navbar-nav mx-auto d-flex align-items-center gap-2">
        <li class="nav-item"><a class="nav-link" [ngClass]="{'active': activeSection === 'contact'}" href="#contact">Contacto</a></li>
        <li class="nav-item"><a class="nav-link" [ngClass]="{'active': activeSection === 'projects'}" href="#projects">Proyectos</a></li>
        <li class="nav-item"><a class="nav-link" [ngClass]="{'active': activeSection === 'sobre-mi'}" href="#sobre-mi">Sobre mí</a></li>
        <li class="nav-item"><a href="https://www.linkedin.com/in/carloscastro0911/" target="_blank" class="nav-link"><i class="bi bi-linkedin fs-5"></i></a></li>
        <li class="nav-item"><a href="https://github.com/ccaicedo09" target="_blank" class="nav-link"><i class="bi bi-github fs-5"></i></a></li>
      </ul>
    </div>
  </nav>
</header>
