<article class="hero d-flex align-items-center">
    <div class="container text-center text-md-start d-flex flex-column flex-md-row align-items-center justify-content-between">
        <div class="hero-text">
            <p class="intro">Hola, mi nombre es</p>
            <h1 class="name">Carlos Castro.</h1>
            <h2 class="role">Soy Desarrollador Backend.</h2>
            <p class="description">Estudiante de Ingeniería de Software apasionado por crear soluciones eficientes y escalables. Me especializo en desarrollo backend utilizando tecnologías modernas.</p>
            <a href="mailto:carlosestc0911@gmail.com" target="_blank" class="btn btn-outline-secondary-custom mt-3 me-3">Contáctame</a>
            <a class="btn btn-outline-secondary-custom mt-3" href="hoja-de-vida.pdf" target="_blank">Descarga mi CV</a>
        </div>
        <div class="hero-image mt-4 mt-md-0">
            <img src="image.png" alt="Tu Foto" class="img-fluid">
        </div>
    </div>
</article>