@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
    --primary-dark: #0a192f;  /* Azul oscuro profundo */
    --primary-medium: #112240; /* Azul medio */
    --primary-light: #233554;  /* Azul más claro */
    --secondary: #64ffda;  /* Verde neón para detalles */
    --text-light: #ccd6f6;  /* Azul grisáceo para el texto */
}


body {
    background-color: var(--primary-dark);
    font-family: 'Inter', sans-serif; 
}

